/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

// pseudo class, like html selector, just with higher specificity.
// All the variable here, will be accesible throughout the entire document. like a global parent element
:root {
  --color-primary: #e61f1f;
  --color-primary-light: #ff2c2c;
  --color-primary-dark: #450606;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  //shadow
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  //border
  --line: 1px solid var(--color-grey-light-2);
}

// Media breakpoints

$bp-huge: 82.5em; // 1200px
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.75em; // 900px
$bp-small: 38.5em; // 620px
$bp-smallest: 31.25em; // 500px

// Utilites
.u-margin-top-sm {
  margin-top: 3.6rem;
}
.u-margin-top-mini {
  margin-top: 1.6rem;
}

.u-margin-bottom-sm {
  margin-bottom: 1.6rem;
}
.u-margin-bottom-middle {
  margin-bottom: 2.4rem;
}
.u-padding-sm {
  padding: 3rem;
}

// Typography
.heading__secondary {
  font-size: 3.6rem;

  color: var(--color-primary-dark);
}

.contact__link,
.contact__link:visited,
.contact__link:active {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.flex__column {
  flex-direction: column;
}

//Shadow
.shadow-light {
  box-shadow: var(--shadow-light);
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );

  min-height: 100vh;
}
